# # # # # # # # # # # # # # # # # # # # # # # # # # # 
# Use the GreyCadet main.conf file as a reference   #
# when editing this file. The defined names point   #
# towards the respective blocks.                    #
# Example: <define name=serverid" value="00A">      #
# This points to the value of id within the server  #
# block inside main.conf                            #
#                                                   #
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#



#Do not remove this line
<config format="xml">

#SERVER DESCRIPTION
<define name="servername" value="">
<define name="serverid" value="">

#ADMIN INFORMATION
<define name="adminname" value="">
<define name="adminnick" value="">
<define name="adminemail" value="">

#DIE/RESTART CONFIGURATION 
<define name="powerdiepass" value="">
<define name="powerrestartpass" value="">

#CONNECTIONS CONFIGURATION
<define name="connectlimitpublic" value="">
<define name="connectlimitmain" value="">

#EXCEPT BLOCKS
<exception host="*@kitana.greycadet.com" reason="Oper's hostname">
<exception host="*@raiden.greycadet.com" reason="Oper's hostname">
<exception host="*@sindel.greycadet.com" reason="Oper's hostname">

#Modules
<define name="cloakkey" value="">
